<div>
    <h1>{{ reviewPartial }}</h1>
    <p> AQUI VA EL PARTIAL!:</p>
      <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <h1 class="text-center">Results</h1>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">{{review.game_title}}<span id="gameName"></span></h2>
        <div class="row">
          <div class="col-md-6">
            <div id="starRating">
              <!-- Icono de estrella para una calificación de 5 estrellas -->
              <span class="fas fa-star" id="star1"></span>
              <span class="fas fa-star" id="star2"></span>
              <span class="fas fa-star" id="star3"></span>
              <span class="fas fa-star" id="star4"></span>
              <span class="fas fa-star" id="star5"></span>
            </div>
          </div>
          <div class="col-md-6">
            <p>{{review.content}}<span id="reviewContent"></span></p>
          </div>
          <div class="col-md-6">
            <p>Date: {{review.createdAt}} <span id="reviewDate"></span></p>
          </div>
          <div class="col-md-6">
            <p>Review by {{review.user.name}} <span id="reviewer"></span></p>
          </div>
        </div>
      </div>
    </div>
