<div id="indvReviewBox">

  <h3 class="display-4" id="revgame_title">{{review.game_title}}</h3>
  <p id="indvRevContent">{{review.content}}</p>
  <h5 id="indvPostedBy">Posted by: {{review.user.username}}</h5>
  <h4 id="indvDatePosted">Date posted: {{format_date review.createdAt}}</h4>
  
</div>


{{#if logged_in}}
<form class="newcommentform" id="indvCommentBox">
    <div class="card-body mt-3">
      <h3 class="card-title">Comments Section</h3>
      <div class="mb-3">
        <label for="commentContent" class="form-label"></label>
        <textarea class="form-control" id="commentContent" rows="3" placeholder="Enter your comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>
</form>

{{#each comments as |comment|}}

<h2>{{comment.content}}</h2>
<h5>Comment by: {{comment.username}} Date: {{format_date comment.createdAt}}</h5>
{{/each}}

{{else}}
<h3>Comments</h3>
{{/if}}


<script src="/js/new-comment.js"></script>
<link rel="stylesheet" type="text/css" href="/css/styles.css">